<footer class="bg-dark text-white py-3">
  <div class="container">
    <div class="row text-center text-md-start">
      <div class="col-md-4 mb-4 mb-md-0">
        <h5 class="mb-3">Instituto CATEC</h5>
        <p>Este sitio web es solo con fines educativos y de referencia.</p>
      </div>

      <div class="col-md-4 mb-4 mb-md-0">
        <h5 class="mb-3">Contacto</h5>
        <p>
          <i class="fa-solid fa-location-dot me-2"></i>Presidente Montes #6161
          entre Bolívar y Sucre, Oruro, Bolivia
        </p>
        <p><i class="fa-solid fa-phone me-2"></i> 69414550</p>
        <p><i class="fa-solid fa-envelope me-2"></i> catec@gmail.com</p>
      </div>

      <div class="col-md-4">
        <h5 class="mb-3">Síguenos</h5>
        <a href="#" class="text-white me-3 fs-4"
          ><i class="fa-brands fa-facebook-f"></i
        ></a>
        <a href="#" class="text-white me-3 fs-4"
          ><i class="fa-brands fa-instagram"></i
        ></a>
        <a href="#" class="text-white me-3 fs-4"
          ><i class="fa-brands fa-twitter"></i
        ></a>
        <a href="#" class="text-white fs-4"
          ><i class="fa-brands fa-whatsapp"></i
        ></a>
      </div>
    </div>
  </div>
</footer>
